/* slider carousel */
.car {
    min-height: 100vh;
}

.img-car {
    object-fit: cover;
}

/* E-learning institue */

.bg-color {
    background-color: #F4FAFD;
}

.btn-color {
    background-color: #289BDE;
}

/* our succesful student */
.button {
    width: 100px;
    height: 50px;
}

/* some student's feedback */
.star-color {
    color: gold;
}

/* ---------------
    media query
-------------- */

/* media query for small device */
@media screen and (max-width:576px) {
    .display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* media query for medium devices */
@media screen and (min-width:577px) and (max-width:992px) {
    .img-div-width {
        width: 25%;
    }

    .text-div-width {
        width: 75%;
    }

    .display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* media queary for large device */
@media screen and (min-width:993px) and (max-width:1200px) {
    .img-div-width {
        width: 25%;
    }

    .text-div-width {
        width: 75%;
    }
}